# Binaries for programs and plugins
# Time-stamp: <2026-05-13 14:27:57 krylon>
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*~
*#
.*
*.log
*TAGS*
bak.*
*.bak

*_string.go
*_gen.go

.mypy.cache
__pycache__

*.pyc

# Output of profiler runs
*.prof

# Files left by tesseract
*.bin
*.dat

monkeytype.sqlite3

vorleser
